 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I'm Danny, nice to meet you! I'm a big computer nerd and the person my parents go to when the internet is slow. I graduated with a Bachelor's in Mathematics at George Mason University. I'm passionate about applications in machine learning, data analysis, and have experience as pseudo sysadmin for my home lab. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Work</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <img class="r-logo" src="/assets/img/r-logo.jpg">
      <p>Standard data analyst stack - nothing too crazy.</p>
    </div>
    <div class="tech">
      <h2>Play</h2>
      <i class="devicon-debian-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-nginx-original colored"></i>
      <p>The tools I use that power my homelab. Creating and destroying VMs and containers until I go insane.</p>
    </div>
</div>
<br><hr>
