<div class="user-details">
  <h1> Work Experience </h1>
</div>
<div class="user-projects">
    <h3>Nika Solutions</h3>
    <h4>Predictive Analyst for Dept. of Defense (Nov. 2019 - Present)</h4>
    <ul>
      <li>Develop analytic models, data visualizations, and dashboards using Power BI and Tableau.</li>
      <li>Design various solutions to display complex data using various tools such as custom columns, stories, calculated fields, and parameters.</li>
      <li>Assist in efforts to satisfy client’s reporting and data needs by gathering, prioritizing, and tracking requirements and implementing use friendly reports and dashboards.</li>
      <li>Uphold effective governance of government and business data to ensure data quality and data management, maximize confidentiality and security of sensitive information, and minimize risks surrounding data sharing.</li>
    </ul>

    <h3>CGI Federal, Inc.</h3>
    <h4>Junior Data Scientist for Dept. of State (April 2019 - Nov. 2019)</h4>
    <ul>
      <li>Optimized SQL queries to improve system performance.</li>
      <li>Maintained SQL views and SAP Business Objects universes that drove client reports.</li>
      <li>Developed reports within SAP Business Objects based on client software requirements.</li>
      <li>Developed and maintained functional and technical documentation of products delivered.</li>
    </ul>

</div>
<br><hr>
