<div class="user-details">
  <h1> Resources </h1>
</div>
<div class="user-projects">
    <h3>Resume</h3>
    <ul>
      <li>Curious about my background?</li>
      <li>Need more information?</li>
    </ul>
    <a class="project-link" href="https://resume.dannytech.win">Check me out!</a>

    <h3>Homelab</h3>
    <ul>
      <li>A static homepage for my server</li>
      <li>Self-hosted services on bare-metal</li>
      <li>SSL-SSO-reverse proxy webserver security jargon</li>
    </ul>
    <a class="project-link" href="https://home.dannytech.win">Take a peek!</a>

    <h3>Bonsai The Dog</h3>
    <ul>
      <li>Canis lupus familiaris</li>
      <li>Always hungry</li>
      <li>Loves bread</li>
    </ul>
    <a class="project-link" href="https://bonsai.dannytech.win">Cute, right?</a>

</div>
