<div class="user-details">
  <h1> Resources </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Resume </h3>
<!--
    <ul>
      <li> Featured Skills</li>
    </ul>
-->
    <p>Want to learn more about me?</p>
    <a class="project-link" href="https://resume.dannytech.win">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Homelab </h3>
    <!--
        <ul>
          <li> Featured Skills</li>
        </ul>
    -->
    <p>Take a peek at the services I'm self-hosting in my lab.</p>
    <a class="project-link" href="#">Peek here</a>
  </div>
</div>
