<div class="user-details">
  <h1> Resources </h1>
</div>
<div class="user-projects">
    <h3>Resume</h3>
    <ul>
      <li>Curious about my background?</li>
      <li>Need more information?</li>
    </ul>
    <a class="project-link" href="https://resume.dannytech.win">Check me out!</a>

    <h3><a target="_blank" href="https://home.dannytech.win">Homelab</a></h3>
    <ul>
      <li>A static homepage for my server</li>
      <li>Self-hosted services on bare-metal</li>
      <li>HTTPS reverse proxy for remote management</li>
    </ul>
    <a class="project-link" href="https://home.dannytech.win">Take a peek!</a>

    <h3><a target="_blank" href="bonsai.jpg">Bonsai The Dog</a></h3>
    <ul>
      <li>Canis lupus familiaris</li>
      <li>Always hungry</li>
      <li>Loves bread</li>
    </ul>
    <a class="project-link" href="bonsai-picture">Cute, right?</a>

</div>
